.footer-container {
  width: 100%;
  height: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--lightGreen);
}

.footerLink {
  padding: 0 .5rem;
}

.nav-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-footer a {
  text-decoration: none;
  color: var(--mainGreen);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.end-quote {
  font-size: .75rem;
  font-weight: 400;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* end of footer */
