* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #FD5523; 
  --mainWhite: #FFFBE6; 
  --offWhite: #FFFBE6; 
  --mainGreen: #356859; 
  --lightLightGreeen: #B9E4C9; 
  --lightGreen: #9bcbbd;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --logoSpacing: -1px;
}


body {
  padding-top: 66px;
  color: var(--mainGreen);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

hr {
  height: 5px;
  margin: 0 auto 1.5rem auto;
  background: var(--mainGreen);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hrVertical {
  height: 4rem;
  width: 2px;
  padding: 0;
  margin: auto 0;
  background: var(--mainGreen);
}

.hrThin {
  margin-top: 2rem;
  height: 3px;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  background: var(--primaryColor);
  color: #B9E4C9;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

/* Hero */
.defaultHero,
.recipesHero,
.singleHero,
.addHero {
  min-height: calc(45vh);
  background-image: url('./images/peaches-oats-yogurt-breakfast.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipesHero {
  background-image: url('./images/ingredients-basil-oil-garlic.jpg');
}

.singleHero {
  background-image: url('./images/kitchen-counter-tools-cutting-board.jpg');
}

.addHero {
  background-image: url('./images/marble-counter-green-leaf.jpg');
  min-height: 40vh;
}
/* End of Hero */
